<div class="faq-title text-center">
    <h2 class="glow-title">Have a question? Check out the FAQ</h2>
    <p>
        Your questions, our answers — everything you need to know before getting started.
    </p>
</div>



<div class="container py-5">
    <div class="row g-4">

        <!-- Card 1 -->
        <div class="col-lg-4 col-md-6">
            <div class="card custom-card h-100">
                <div class="card-img-wrapper">
                    <img src="../../../assets/website images/image1.png" alt="Card 1 Image">
                    <div class="overlay">
                        <a href="#" class="livePreview">Live Preview</a>
                    </div>
                </div>
                <div class="card-body d-flex flex-column">
                    <!-- <h5 class="card-title">Card Title 1</h5> -->
                    <p class="card-text">Responsive Project Website</p>
                    <button mat-flat-button color="primary" class="align-self-end mt-2">
                        Live Preview
                    </button>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-lg-4 col-md-6">
            <div class="card custom-card h-100">
                <div class="card-img-wrapper">
                    <img src="../../../assets/website images/image1.png" alt="Card 1 Image">
                    <div class="overlay">
                        <a href="#" class="livePreview">Live Preview</a>
                    </div>
                </div>
                <div class="card-body d-flex flex-column">
                    <!-- <h5 class="card-title">Card Title 1</h5> -->
                    <p class="card-text">Responsive Project Website</p>
                    <button mat-flat-button color="primary" class="align-self-end mt-2">
                        Live Preview
                    </button>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-lg-4 col-md-6">
            <div class="card custom-card h-100">
                <div class="card-img-wrapper">
                    <img src="../../../assets/website images/image1.png" alt="Card 1 Image">
                    <div class="overlay">
                        <a href="#" class="livePreview">Live Preview</a>
                    </div>
                </div>
                <div class="card-body d-flex flex-column">
                    <!-- <h5 class="card-title">Card Title 1</h5> -->
                    <p class="card-text">Responsive Project Website</p>
                    <button mat-flat-button color="primary" class="align-self-end mt-2">
                        Live Preview
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

